html {
  font-size: 62.5%;
  box-sizing: border-box;
}


body {
  position: relative;
  font-size: 1.4rem;
  font-family: $font_main, $backup_font;

}

h1, h2, h3 {
  a i.fa {
    font-size: .8em;
    font-weight: normal;
  }

}


a {
  color: $blue;
  transition: color.5s;

  &:hover {
    color: $hoverblue;
    text-decoration: underline;
  }

  i{
    &:hover {
      text-decoration: none;
    }
  }
}

.col-full {
  max-width: 80%;
  margin: auto;
  @media $s_screen {
    max-width: 97%;
  }
  @media $l_screen {
    max-width: 95%;
  }
}

.daisy-hidden{
  display: none!important;
}

.border-blue {
  border: 2px solid $blue;

}

#daisy-table{
  tr,td,th,tbody,thead{
    background: none;
      }
  td:nth-of-type(1), th:nth-of-type(1)  {
    visibility: collapse;
    padding: 0;
    width: 0;
    overflow: hidden;
  }

}

.site-main .columns-3
ul.products li.product{
  width: 100%;
  margin: 4% auto;
  @media (min-width: 768px){
    width: 42%;
  }
}

li.post-207, li.post-208{
  width:80%;
}


ul.products {
margin-left: 0;
margin-bottom: 0;
clear:none;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
flex-direction: row;
}

@keyframes daisy-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.daisy-spinner {
  position: absolute;

  /*min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;*/
  z-index: 999999999;

  img {
    margin: auto;
    animation: daisy-spin 1s linear infinite;
  }
}

.daisy-help-tip {
  text-align: left;
  position: relative;
  &:hover {

    color: $yellow2;
  }

}

#daisy-hover-tip{
  padding: .5rem;
  color: black;
  font-family: $backup_font;
  font-size: 1.2rem;
  line-height: 1;
  display: none;
  background: white;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.35);
  border: .5px solid black;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 200px;
  z-index: 999
}

.svg-test {
  background: url("../../plugins/daisy/public/assets/images/DDspinner50px-blue.svg") repeat space 0 0;
  height: 300px;
  width: 100%px;
  background-size: 50px 50px6
}

main {
  position: relative;
  .bizcard-main-links{
    display: flex;
    justify-content: space-between;
  }
  .page-header.flex-div {
    @media $m_screen {
      display: flex;
      h1 {
        font-size: 2.0em;

      }
    }
  }
}

.flex-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media $m_screen {
    display: block;
  }

}

.daisy-error{
  color: red;
  ul {
    margin: 0 1rem;
  }
}

.daisy-verified {
  color: $darkgrn;
}

.daisy-not-verified {
  cursor:not-allowed;
  color: $bluedisabled;
}

.fa-trash-o {
  cursor: pointer;
  color: $blue;
}


i {
  padding: 0 .5rem;
  text-decoration: none;

}
/* Dame ranch designs styling */
.DRD {
  letter-spacing: 2px;
}

div, ul, li, a {
  transition: width 2s, color .5s, text-decoration .5s;
}
