#overlay {
  position: absolute;
  background: linear-gradient(rgba(240, 240, 240, .8),
   rgba(240, 240, 240,.9) ), url("../../plugins/daisy/public/assets/images/DDspinner50px-blue.svg") repeat space $ltgray;
   background-size: 50px 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: $ltgray;*/
  z-index: 666;
  /*background: #000;*/
  /*opacity: 0.5;*/
  /*filter: alpha(opacity=50);*/
}

#modal {
  position:fixed;
  background:rgba(0,0,0,0.8);
  border-radius:14px;
  padding:8px;
  z-index: 9999999;
  button {
    float: right;
    /*padding: 1rem;*/
    border-radius: 14px;
    margin-top: 1rem;
    margin-right: 1rem;

  }
}

#content {
  border-radius:8px;
  background:#fff;
  padding:20px;
}

#close{
  line-height: 4;
  z-index: 9999;
}
