/**
 * Re declare storefront styles
 *
 * @since 0.2.0
 * @package daisy
 */

.site-header {
    background-color: white;
    padding-bottom: 1.618em;
    z-index: 999;
    border-bottom: 1px solid transparent;
}

.storefront-primary-navigation {
  font-family: $font_main, $backup_font;
}

/*position admin bar at top of screen*/
@media screen and (max-width: 600px){
  #wpadminbar {
      position: fixed;
      top: 0;
  }
}

/* corrections for storefront media query  */
@media only screen and (min-width: 768px) and (max-width: 950px){
  .col-full{
    max-width: 95%;
    .content-area {
      width: 100%;
    }

    .widget-area {
        width: 100%;
        float: none;
        margin-bottom: 2.617924em

      }
  }
  .right-sidebar .content-area {
    float: none;
    margin-bottom: 2.617924em;
  }
}
