$sand: rgb(253, 227, 194); /*#FDE3C2*/
$blue: rgb(74, 120, 197); /*	#4a78c5*/
$yellow: rgb(229, 185, 18); /*	#e5b912*/
$yellow2: rgb(223, 158, 6); /*	#df9e06*/
$daisy: rgb(252, 255, 11); /*	#fcff0b*/
$grn: rgb(96, 184, 97); /*	#60b861*/
$ltgrn: rgb(159, 249, 102); /*#9ff966*/
$white: rgb(239, 244, 236); /*	#eff4ec*/
$ltgray: #f0f0f0;
$fontgray: rgb(109,109,109);  /*#6d6d6d*/
$darkgray: rgb(124,124,124);
$lightestgray: #F8F8F8;
$helpTip: rgb(255, 255, 175); /* #FFFFaF */

$font_ptsans: 'PT Sans', sans-serif;
