/*
* Woocommerce && storefront theme overrides
*/

.entry-content {

  .woocommerce  {

    form.login, form.checkout_coupon, form.register {
      border: none;

    }

    a.button,  button.button,  input.button,  #respond input#submit, woocommerce-Button button{
      background-color: $blue;
      color: white;
      font-family: $font_main;
      &:hover{
        background: $hoverblue;
        color: white;
      }
    }
  }

}

.storefront-primary-navigation {
  font-family: $font_main;
}

/* @media (max-width: 800px) {

  .handheld-navigation, .main-navigation.toggled .handheld-navigation, .main-navigation.toggled div.menu, .menu-toggle {
      display: block;
  }

  .primary-navigation{
    display: none;
  }

} */
