/*
* Woocommerce && storefront theme overrides
*/
.woocommerce-active .site-header .site-branding {
    float: none;
    display: flex;
    width: 100%;
}
.entry-content {

  .woocommerce  {

    form.login, form.checkout_coupon, form.register {
      border: none;

    }

    a.button,  button.button,  input.button,  #respond input#submit, woocommerce-Button button{
      background-color: $blue;
      color: white;
      font-family: $font_main, $backup_font;
      /* transition: background .5s */
      &:hover{
        background-color: $hoverblue;
        color: white;
      }
    }
  }

}

ul.products li.product .woocommerce-loop-product__title, ul.products li.product h2, ul.products li.product h3 {
  font-size: 2em;
}




/*Used to change the screen width break point for menus*/
/* @media (max-width: 800px) {

  .handheld-navigation, .main-navigation.toggled .handheld-navigation, .main-navigation.toggled div.menu, .menu-toggle {
      display: block;
  }

  .primary-navigation{
    display: none;
  }

} */
