.page {
  .bizcard-entry-header{
    img{
      max-width: 80%;
    }
  }
}

.daisy-edit-icon {
  position: absolute;
  right: 0;
  bottom: -7px;
  color: white;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  line-height: 1.2em!important;
  font-size: 25px;
  z-index: 5;
  background: #0085ba!important;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 3px;
  border: 2px solid #fff;
  box-shadow: 0 2px 1px rgba(46,68,83,.15);
  text-align: center;
  cursor: pointer;
   &:hover {
    background: $yellow2 !important;
  }
}


.bizcard-edit{
  position: relative;
}


.bizcard-entry-header{


  position: relative;
  max-width: 450px;
  font-family: $font_ptsans;
  width: 100%;
  border-radius: 20px;
  margin: 2rem auto;
  background: $ltgray;
  padding: 1rem 2rem;

  h4 {
    color: $darkgray;
    font-size: 1.4em;
    border-bottom: 2px solid $darkgray;
    position: relative;
    span {
      position: absolute;
      right: 10px;
      bottom: -7px;
      color: $blue;
      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;
      line-height: 1.2em!important;
      font-size: 25px;
      z-index: 5;
      /*background: #0085ba!important;
      border-radius: 50%;*/
      box-sizing: border-box;
      padding: 3px;
      /*border: 2px solid #fff;*/
      /*box-shadow: 0 2px 1px rgba(46,68,83,.15);*/
      text-align: center;
      cursor: pointer;
       &:hover {
        color: $yellow2 !important;

      }
    }
  }

  p {
    margin-bottom: 0;
  }

  .bizimg-div {
    margin: auto;
  }

  .bizimg-select {
    position: relative;
    max-width: 486px;

   img {
    position: relative;
    margin: .5rem auto;
    cursor: pointer;
    &:hover {
      border: 2px solid $yellow;
      }
    }
  }



  .bizcard-display {
    padding: 0;
    padding-bottom: 1rem;
    min-height: 7rem;
  }


  .bizcard-entry-title {
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 0;
    margin: 0;
  }

  .bizcard-entry-excerpt {

    font-size: 1.2em;
    padding-bottom: 1rem;
  }

  .bizcard-status{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    background: $grn;
    color: white;
    padding: .6180469716em 1.41575em;;
    z-index: 5;
  }

  .drd-link{
    .link-preview{
      color: $yellow;
    }
    span {
      color: $fontgray;
      &:hover {
        color: $yellow;
      }
    }

  }



}

.daisy-button-anchor {
  background: $lightestgray;
  display: inline-block;
  min-width: 40.057px+1.41575em+.5rem;
  background-color: #F8F8F8;
  border-color: #eeeeee;
  color: #333333;
  font-size: 100%;
  line-height: 1.618;
  cursor: pointer;
  padding: .6180469716em 1.41575em;
  font-weight: 600;
  margin-right: .5rem;
  &:hover {
    background-color: $blue;
  }
}
