/**
 * Styles for bizcards display
 *
 *
 * @hook style.css
 * @package DD
 * @since 0.2.0
 */


.page {
  position: relative;
  .bizcard-entry-header{
    img{
      max-width: 80%;
    }
  }
}

.bizcards {
  position: relative;
}

.daisy-edit-icon {
  position: absolute;
  right: 0;
  bottom: -7px;
  color: white;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  line-height: 1.2em!important;
  font-size: 25px;
  z-index: 5;
  background: $blue!important;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 3px;
  border: 2px solid #fff;
  box-shadow: 0 2px 1px rgba(46,68,83,.15);
  text-align: center;
  cursor: pointer;
   &:hover {
    background: $hoverblue !important;
  }
}


.bizcard-edit{
  position: relative;
}


.bizcard-entry-header{


  position: relative;
  max-width: 550px;
  width: 100%;
  border-radius: 20px;
  margin: 2rem auto;
  background: $ltgray;
  padding: 1rem;


  h4 {
    color: $blue;
    font-size: 1.4em;
    border-bottom: 2px solid $blue;
    position: relative;
    span {
      position: absolute;
      right: 10px;
      bottom: -7px;
      color: $blue;
      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;
      line-height: 1.2em!important;
      font-size: 25px;
      z-index: 5;
      /*background: #0085ba!important;
      border-radius: 50%;*/
      box-sizing: border-box;
      padding: 3px;
      /*border: 2px solid #fff;*/
      /*box-shadow: 0 2px 1px rgba(46,68,83,.15);*/
      text-align: center;
      cursor: pointer;
       &:hover {
        color: $yellow2 !important;

      }
    }
  }

  p {
    margin-bottom: 0;
  }

  .bizcard-anchor{
    text-decoration: none;
  }

.bizimg-div {
    margin: auto;
    padding: 0 2rem;
    padding-top: 2rem;
    img{
      margin-bottom: 0;
    }

  }

  .bizimg-select {
    position: relative;
    max-width: 486px;

   img {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
      border: 2px solid $yellow;
      }
    }
  }



  .bizcards-gui {
    position: relative;
    padding: .5rem 2rem 2rem;
    min-height: 7rem;
  }


  .bizcard-entry-title {
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 0;
    margin: 0;
  }

  .bizcard-entry-excerpt {

    font-size: 1.2em;
    padding-bottom: 1rem;
  }

  .bizcard-status{
    display: block;
    width:100%;
    margin: 0 auto;
    text-align: center;
    /*position: absolute;*/
    /*top: 0;
    left: 0;*/
    /*margin: 1rem;*/
    background: $grn;
    /* padding: 0 2rem; */
    color: white;
    z-index: 5;
  }

  .drd-link{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    a {
      display: block;
    }
    .link-preview{
      color: $yellow;
    }
    span {
      color: $fontgray;
      &:hover {
        color: $yellow;
      }
    }

    #send-sms {
      display: block;
      /* border-radius: 100px; */
      color: $blue;
      /* background: $blue; */
      margin-left: .5rem;
      &:hover {
        color: $hoverblue;

      }

    }

  }

  #daisy-download-contact{
    display: block;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
  }



}
