/**
 * Styling for daisy theme category page
 *
 *
 * @package Daisy theme
 * @since 0.2.0
 */


.daisy-cat-main{
  h1 {
    text-transform: capitalize;
  }
  h2{
    font-size: 2em;
    img {
      padding-right: 0;
    }
  }

  article[class*="category-"], div[class*="category-"] {
   .entry-content {
        float: none;
        width: 100%;
      }


    .entry-header {
      margin-bottom: 2em;
      border: none;
    }
  }

}
