/**
 * Styling for daisy theme category page
 *
 *
 * @package Daisy theme
 * @since 0.2.0
 */


  .daisy-cat-main{

  background: red;
    h2{
      font-size: 2em;
    }

    .entry-header {
      margin-bottom: 2em;
    }

    .entry-content {
      float: none;
      width: 100%;
    }




  }
