.site-footer {

  .col-full {
    max-width: 100%;
  }
  .daisy-footer {
    font-size: 1rem;
    a {
      display: block;

    }


  }

  #daisy-footer-share {
    justify-content: center;
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    .flex-div {
      justify-content: center;
      div {
        flex: none;
        width: 100%;
        max-width: 33%;

        a {
          color: $blue;
          padding: 1rem;

          &:hover {
            color: $hoverblue;
          }
        }
      }
    }

  }

}
