.daisy-form {
  position: relative;
  font-family: $font_ptsans;
  padding: 1rem;
  padding-top: 0;
  margin-bottom: 1rem;

 /*input styles to make edit form style close to the bizcard formatting*/
  fieldset {
    position: relative;
    background: $ltgray;
    padding: 0;
    margin: 0;
  }

 input, textarea {
   background: $lightestgray;
   &:focus {
     border: 2px solid $yellow2;
     background: white;
     }
 }

 .drdcard-link {
   input {
     max-width: 150px;
     max-height: 1.8rem;
   }
   input#drdpin {
     max-width: 65px;
   }
   span {
     color: $blue;
   }
 }

  input#og_title{
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    &:focus{
      font-size: 1.2rem;
      font-weight: normal;
    }
  }

  textarea#og_desc {
    width: 100%;
    font-size: 1.2rem;
    &:focus {
      font-size: 1rem;
    }
  }

  .daisy-accordion{
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    .accordion-title {
      position: relative;
      display: block;
      padding-top: 1rem;
      cursor: pointer;
      font-size: 1rem;

    }
    .accordion-content {
    padding: 1rem;
    background: white;

      input.daisy-form-item {
        padding: .25rem;
      }
      .daisy-form-item {
        margin: .25rem 0;
      }

    }
  }

  .accordion-icon-down {
    border-bottom: 2px solid $darkgray;
    &:hover{
      color: $yellow2;
      border-color: $yellow2;
    }
    &:after {
      font-family: 'dashicons';
      content: "\f140";
      position: absolute;
      color: inherit;
      right: 1rem;
      top: -5px;
      font-size: 2rem;
    }
  }

  .accordion-icon-up {
    border-bottom: 2px solid $blue;
    color: $blue;
    &:hover{
      color: $yellow2;
      border-color: $yellow2;
    }
    &:after {
      font-family: 'dashicons';
      content: "\f142";
      position: absolute;
      color: inherit;
      right: 1rem;
      top: -5px;
      font-size: 2rem;
    }
  }


 /*style input box so it is not on screen but still in dom*/
  input[type="file"] {
    height: .1px;
    width: .1px;
    position: fixed;
    left: -99999;
    padding:0;
    margin: 0;
    opacity: 0;
    z-index: -1;
  }
  /*style to change cursor when you hover over label*/
  input[type="file"] + label {
    cursor: pointer;
  }

  #drdcard-vcard p {
    text-align: center;
    padding: .5rem;
    color: $blue;
    margin: 0 auto;
  }

  .icon-action-group {
    position: relative;
    display:flex;
    justify-content: space-around;
    min-height: 100px;


    .dashicon-div {
      display: flex;
      color: $blue;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      span {
        display: block;
        text-align: center;
        cursor: pointer;
        color: inherit;
      }

      .dashicons{
        min-height: 63px;
        min-width: 63px;
        font-size: 4rem;
      }

      &:hover {
        color: $yellow2;
      }
   }
 }

 textarea {
   padding: 0;
 }

  .daisy-form-cancel-anchor {
    background: $lightestgray;
    &:hover {
      background-color: #d5d5d5;
    }
    border-color: #d5d5d5;
    font-size: 1rem;
    color: #333333;
    cursor: pointer;
    padding: .6180469716em 1.41575em;
    font-weight: 600;
    display: inline-block;
  }


}
