

.sms-forms{
  #terms {
    margin-bottom: 1rem;
    p {
    display: none;
    width: 90%;
    background: $lightestgray;
    padding: .5rem;
    margin: 1rem auto;
    }
  }

  fieldset {
    background: none;
    width: 100%;
    margin: auto;

    p {
      text-align: right;
      }

    }
    label {
      display: inline-block;
    }

    .daisy-form-actions{
      justify-content: flex-end;
      margin-top: 1rem;
      }

}


#daisy-input-veri-code{
  display: none;
  width: 75%;
  border: 1px solid black;
  margin: 0 auto .5rem;
  background: $lightestgray;
  padding: 1rem;
  h4 {
    text-align: center;
    margin-bottom: 0;
  }
  h4 + p{
    text-align: center;
  }
  input[name=code]{
    display: block;
    text-align: center;
    margin: auto;
  }
  div {
    justify-content: space-between;
    margin: 1rem 0;
    a {
      padding-left: 3rem;

    }
    input {
      padding-right: 3rem;
    }
  }

}
