/**
 * Styles for VCard form
 *
 *
 * @hook style.css
 * @package DD
 * @since 0.2.0
 */


.vcard-image-wrapper {
  width: 200px;
  margin: auto;
  padding: 1rem;
  position: relative;
  img {
    width: 120px;
    margin: auto;
    padding: 1rem;
    cursor: pointer;
  }
}


#vcard-archive-div{
  position: relative;
/*vcard archive table styling*/
  table.vcard-archive{
    position: relative;
  }

}

.daisy-window-border-top{
  height: 40px;
  background-color: $blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

#edit-vcard-form{
  padding-top: 4rem;

    fieldset {
      border: 2px solid black;
      padding: 1rem;
      margin: 1rem;
    }

    input {
      width: 100%;
    }


    fieldset#vcard-name{

      div {
        width: 100%;

      }

     @media $s_screen {
          font-size: 1.4rem;

        div {
          display: inline-block;
          input{
            width: auto;
          }
        }
        select {
          display: block;
        }
      }
    }
  .daisy-add-item, .daisy-remove-item {
    color: $blue;
    display: inline-block;
    padding: 1rem;
    margin-top: 1rem;
  }

  .dyn-property-wrapper {
    margin-bottom: 1rem;
  }

}

.daisy-close-form{
  height: 40px;
  width: 40px;
  color: white;
  &:hover{
    color: $ltgray;
    background: transparent;
    border: none;
  }
}

button.remove-file{
  height: 40px;
  width: 40px;
  top: 0;
  right: 0;
  &:hover{
    color: $hoverblue;
    background: transparent;
    border: none;
  }
}
