/**
 * Styles for VCard form
 *
 *
 * @hook style.css
 * @package DD
 * @since 0.2.0
 */


.vcard-image-wrapper {
  width: 200px;
  margin: auto;
  padding: 1rem;
  position: relative;
  img {
    width: 120px;
    margin: auto;
    padding: 1rem;
    cursor: pointer;
  }
}


#vcard-archive-div{
  position: relative;
 /*vcard archive table styling*/
  table.vcard-archive{
    position: relative;
    margin: auto;
  }
  h3 {
    width: 100%;
    @media $s_screen{
      span {
        display: none;
      }
    }
    a {
    display: block;
    }
  }

}
.daisy-window-border-top{
  height: 40px;
  background-color: $blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

#edit-vcard-form {
  padding-top: 4rem;

  h5 {
    font-size: 1.8rem;
    border-bottom: 1px solid $ltgray;
  }

    fieldset {
      border: 2px solid black;
      padding: 1rem;
      margin: 1rem;
    }

    input {
      width: 100%;
    }


    .vcard-fieldset{
      .single-line-div {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        /* Use abbreviated label when full screen */
        label {
          span {
            display: block;
          }
          span+span{
            display: none;
          }
        }

        @media $m_screen {
          display: block;
          div {
            width: 100%;
          }
          /* Use full label when m screen */
          label {
            span {
              display: none;
            }
            span + span {
              display: block
            }
          }

        }
        /* end of media query */
      } /* end of $name-div */

      i.fa {
        @media $m_screen {
          font-size: 2.0rem;
        }
      }
    }/* end of #vcard-name */

  .daisy-add-item, .daisy-remove-item {
    color: $blue;
    display: inline-block;
    padding: 1rem;
    margin-top: 1rem;
  }

  .dyn-property-wrapper {
    margin-bottom: 1rem;
  }

}

.daisy-close-form{
  height: 40px;
  width: 40px;
  color: white;
  &:hover{
    color: $ltgray;
    background: transparent;
    border: none;
  }
}

button.remove-file{
  height: 40px;
  width: 40px;
  top: 0;
  right: 0;
  &:hover{
    color: $hoverblue;
    background: transparent;
    border: none;
  }
}

/* styling for name and address label+input divs to get correct proportions*/
#dd-mname{
  width: 10%;

}
#dd-lname{
  width: 45%;
}

#dd-suffix {
  width: 15%;
}

#dd-fname{
  width: 25%
}

.dd-city{
  width: 50%
}
.dd-state{
  width: 27%
}
.dd-zip{
  width: 17%
}
