/**
 * Styling for daisy theme custom secondary widget areas
 *
 *
 * @package Daisy theme
 * @since 0.2.0
 */

.daisy-widget-area {
  .widget.daisy-widget {



      .daisy-widget-title.widget-title {
        border-bottom: 1px solid rgba(0,0,0,.05);
        padding: 0 0 .5em;
        margin-bottom: .5em;
        color: black;
        a {

          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .daisy-widget-menu {
        margin-bottom: 1em;
      }

      ul {
        margin: 0;
        li {
          margin: 1rem 0;
          &:before {
            content: "";
          }
          a {
            font-size: 1.2rem;
            text-decoration: none;
            transition: color .5s linear, text-decoration .5s linear;
            color: $blue;
            &:hover {
              color: $hoverblue;
              text-decoration: underline;
            }
          }
        }
      }


  }
}
